<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Test Suite" parallel="none">

    <test name="Full Functional Regression">
        <classes>
            <class name="com.example.tests.LoginTest"/>
            <class name="com.example.tests.LogoutTest"/>
            <class name="com.example.tests.LoginNegativeTest"/>
            <class name="com.example.tests.ResetAppStateTest"/>
            <class name="com.example.tests.InventorySortTest"/>
            <class name="com.example.tests.PriceVerificationTest"/>
            <class name="com.example.tests.RemoveFromCartTest"/>
            <class name="com.example.tests.MultipleProductPriceVerificationTest"/>
            <class name="com.example.tests.AddToCartTest"/>
            <class name="com.example.tests.CheckoutTest"/>
        </classes>
    </test>

</suite>
